{{> header}}
   <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et laborum architecto, provident atque temporibus, suscipit omnis officia unde ullam harum rem quo quidem distinctio esse. Quidem excepturi exercitationem porro est.</p>
{{> footer}}